 <h1>Welcome <%= @user.email %></h1>
    <p>
      Your requested product  <%= @user.product %> is back in stock.
    </p>
    <p> Go to your store: <%= link_to "Shopify Store", @url%>.</p>
    <p>Thanks for supporting, have a great day!</p>